// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: futura, arial, sans-serif;
  color: white;
  background-image: url("/nebulae.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  // width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  height: 200px;
  padding: 10% 0;
}

h1 {
  text-align: center;
  font-size: 3em;
}
